:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --yellow: #F77269;
  --gold: #FA6CB2;
  --pale: #e09bf8;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(circle at 76% 31%, rgb(30, 30, 30) 0%, rgb(15, 15, 15) 99.4%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  scroll-behavior: smooth;
}

h1 > .magic {
  animation: background-pan 4s linear infinite;
  background: linear-gradient(
    to right,
    var(--yellow),
    var(--pale),
    var(--yellow),
    var(--gold)
  );
  background-size: 200%;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
} 

@keyframes background-pan {
  from {
    background-position: 0;
  }
  to {
    background-position: -200%;
  }
}

body {
  width: 100vw;
  background-size: cover;
  margin: 0px;
  overflow-x: hidden;  
}

/* Features css ----------------------------------------------------------------------------*/
.side {
  display: grid;
  height: 100%; /* Set a fixed height for .side */
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

.side .title {
  font-family: "League Gothic", sans-serif;
  font-size: 20vw;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
}

.side .ev-title {
  font-family: "Kantumruy", sans-serif;
  font-size: 9vw;
  font-weight: 800;
  text-align: left;
  width: 800vw;
}

#left-side {
  background:#F77269;
  z-index: 2;
  display: grid;
  place-items: center;
}

#right-side .content {
  position: absolute;
  top: 25%;
  left: 0%;
  display: flex;
  justify-content:center; /* Distribute items with space around */
  align-items: center; /* Vertically center the items */
  width: 100%;
}

#right-side .content .pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  align-items: center;
}

#right-side .content h1 {
  font-family: sans-serif;
  opacity: 50%;
  font-size: 9vw;
  font-weight:bold;
  padding: 10px 20px;
  color: #F77269;
  margin: 0; /* Remove the default margin to avoid extra space */
}

#right-side .content p {
  font-family: "Katibeh", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  padding: 10px 20px;
  color: #000;
  margin: 0; /* Remove the default margin to avoid extra space */
  text-align: center;
} 

#right-side {
  background: white;
}

#left-side .title {
  text-align: center;
  color: #fff;
}

/* Events css---------------------------------------------------------------- */
.event-box{
  width: 50vmax;
  height: 50vmax;
  position: relative;
  top: 0%;
  left: 40%;
  border-width: 2px;
  background-color: black;
  cursor: pointer;
}

.event-btn{
  cursor:pointer;
  position: sticky;
  display:flexbox;
  top: 0%;
  left: 100%;
  background-color: #fff;
  width: 10%;
  color: #000;
  text-align: center;
  font-family: Kalibeh,sans-serif;
  font-weight: 700;
}

.event-btn:hover{
  background-color: #f05353;
  color: #fff;
}

#gallery {
  background-color: black;
  height: 130vmax;
  width: 130vmax;  
  position: absolute;
}

.mtile > p{
  opacity: 0;
}

.mtile {
  border-radius: 0;
  position: absolute;
  transition: transform 800ms ease;
}

.mtile:hover {
  transform: scale(1.1);
}

.mtile:hover > p {
  opacity: 1;
}

.mtile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.mtile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease,
    transform 800ms ease;
}

.mtile:nth-child(1) {
  background: #f05353;
  width: 15%;
  height: 34%;
  position: absolute;
  top: 25%;
  left: 50%;
}

.mtile:nth-child(2) {
  background: #59FF55;
  width: 10%;
  height: 24%;
  position: absolute;
  top: 15%;
  left: 10%;
}

.mtile:nth-child(3) {
  background: #59FF55;
  width: 20%;
  height: 14%;
  position: absolute;
  top: 13%;
  left: 75%;
}

.mtile:nth-child(4) {
  background: #FFFF31;
  width: 26%;
  height: 12%;
  position: absolute;
  top: 5%;
  left: 38%;
}

.mtile:nth-child(5) {
  background: #FFFF31;
  width: 38%;
  height: 15%;
  position: absolute;
  top: 73%;
  left: 55%;
}

.mtile:nth-child(6) {
  background: rgb(244, 177, 216);
  width: 17%;
  height: 30%;
  position: absolute;
  top: 55%;
  left: 5%;
}

.mtile:nth-child(7) {
  background: rgb(244, 177, 216);
  width: 15%;
  height: 20%;
  position: absolute;
  top: 33%;
  left: 29%;
}

.mtile:nth-child(8) {
  background: #6a62db;
  width: 16%;
  height: 16%;
  position: absolute;
  top: 47%;
  left: 73%;
}

.mtile:nth-child(9) {
  background: #6a62db;
  width: 20%;
  height: 12%;
  position: absolute;
  top: 63%;
  left: 27%;
}

/* ImageSlider-css----------------------------------------------------------- */
#image-track {
  display: flex;
  gap: 5vmin;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; 
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: (50% 50%);
  transition: transform 0.3s ease; 
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Intro css -----------------------------------------------------------------------------------*/
.header {
  background-size: cover; 
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-family: "Katibeh", sans-serif;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 70%;
  }

.header-text h1{
  font-size: 80px;
  color: black;
  line-height:0cm;
}

.header-text h2 {
  font-size: 34px;
  color: #000;
  line-height:0;
  transform: translateY(12px);
  letter-spacing: -5%;
}

.header-text h3 {
  transform: translateY(15%);
  font-size: 20px;
  color: black;
  line-height:0.9;
  font-weight: bolder;
  letter-spacing: -2%;
}

.line{
  border-left: 6px solid black;
  height: 40px;  position: absolute;
  top: 55%;
  left: 25%;
}

/* Form css ----------------------------------------------------------------------------- */
/* Signup text */
.signUp {
  color: #141414;
  font-size:11vw;
  font-family: League Gothic,sans-serif;
  position: absolute;
  left: 10%;
  top: 0%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.signup-text1 {
  display: flex;
  position: absolute;
  left: 5%; 
  top: 28%;
  width: 28%; 
  text-align: left;
}

.signup-text2 {
  display: flex;
  position: absolute;
  background-color: #141414;
  left: 5%; 
  top: 58%;
  width: 28%; 
  text-align: right;
}

.label {
  font-size: 2vw; 
  font-family: Katibeh,sans-serif;
  flex-shrink: 1;
  line-height: 75%;
  font-size: 2vw;
}

/* Sign-up/ login form css */
.form-text {
  color: #fff;
  font-size:12vw;
  line-height: 90%;
  font-family: League Gothic,sans-serif;
  position: absolute;
  left: 10%;
  top: 18%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.signup-text1 {
  display: flex;
  position: absolute;
  left: 5%; 
  top: 28%;
  width: 28%; 
  text-align: left;
}

.signup-text2 {
  display: flex;
  position: absolute;
  background-color: #141414;
  left: 5%; 
  top: 58%;
  width: 28%; 
  text-align: right;
}

.label {
  font-size: 2vw; 
  font-family: Katibeh,sans-serif;
  flex-shrink: 1;
  line-height: 75%;
  font-size: 2vw;
}

/* Sign-up/ login form css */
.form{
  width: 100%;
  height: 100%;
  position: absolute;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper {
  /* Adjust width to fit the form and the image */
  width: 25%;
  height: 75%;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 10%;  
  backdrop-filter: blur(25px);
  box-shadow: 0 0 30px rgba(f, f, f, 0.5);
  display: flex;
  justify-content: center; /* Center the form inside the wrapper */
  align-items: center; /* Center the form inside the wrapper */
  overflow: hidden;
  transition: height 0.2s ease;
  position: absolute;
  top: 10%;
  left: 70%;
}
/* ------------------------------------------------------------------------------   */
  .wrapper.active {
    height: 85%;
    transform: translateY(-5%);
  }
  
  .wrapper.form-box {
    width: 100%;
    padding: 40px;
  }
  
  .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
  }
  
  .wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
  }
  
  .wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }
  
  .wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
  }
  
  .form-box h2{
    font-size: 2em;
    font-weight: bolder; 
    color: #fff;
    text-align: center;  
  }
  
  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
  }
  
  .input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label{
    top: -5px;
  }
  
  
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.8em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }
    
  .btn{
    width: 100%;
    height: 7cqh;
    background: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #FA6CB2;
  }
  
  .login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }
  
  .login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover{
    background-color: #fff;
    color: #FA6CB2;
  }

/* About-us --------------------------------------------------------- */
.about .ig-icon{
  position: absolute;
  top: 75%;
  left: 20.25%;
} 

.about .icon-txt{
  position:relative;
  line-height: 85%;
  transform: translate(-40%,-260% );
  font-family: Katibeh, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
} 

.about .go-icon{
  position: absolute;
  top: 85%;
  left: 20%;
} 

.about .icon-txt2{
  position: relative;
  line-height: 85%;
  transform: translate(-40%,-260%);
  font-family: Katibeh, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
} 

.about .go-icon:hover .icon-txt2 {
  visibility: visible;
  opacity: 1;
}

.about .ig-icon:hover .icon-txt {
  visibility: visible;
  opacity: 1;
}

.about{
  height: 100vh;
  text-align: left;
  cursor:crosshair;
}

.cursor {
  background-color: #fff;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.text-side{
  overflow: hidden;
  font-family: Katibeh, sans-serif;
  line-height: 85%;
  position: absolute;
  top: 30%;
  left:10%;
  max-width: 30%;
  font-size:x-large;
}

#top-view{
  z-index: 2;
  color: #fff;
}

#bottom-view{
  color: #F77269;
}

.abt-img{
  position: absolute;
  top: 7%;
  left: 50%;
  scale: 0.8;
  z-index: -1;
  visibility: visible;
}

.abt-img-hid{
  position: absolute;
  left: 45%;
  scale: 0.08;
  transform: translateY(-30%);
}

.abt-hid-text{
  font-size:x-large;
  font-weight: bold;
  font-family: Katibeh, sans-serif;
  color: #F77269;
  position: absolute;
  top: 15%;
  left: 45%;
  scale: 0.8;
}

/* home pg-3- counter */
.counter-container {
  color: #141414;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;  
  list-style-type: none;
  font-size: 3vw;
  padding: 2vw;
  line-height: 250%;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 15vw;
}

.homepg3-p{
  font-family: Lusitana, sans-serif;
  text-align: center;
  font-size: large;
  transform: translate(-27%,-38vw);
}

.homepg3-btn{
  cursor: pointer;
  font-family: Lusitana, sans-serif;
  text-align: center;
  transform: translate(140%,-38vw);
  color: #FA6CB2;
  border-radius: 20px;
  background-color: #000;
  width: 12vw;
  height: 2vw;
}

/* navbar css */

.navbar {
  background: linear-gradient(to right, var(--yellow), var(--pale), var(--gold));
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent; 
  background-color: #fff;
  font-family: 'Lusitana';
  position: sticky;
  height: 5vw;
  display: flex; 
  align-items: center; 
  padding: 10px 20px; 
} 

.nav-btn {
  cursor: pointer;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #fff;
  z-index: 2;
  margin: 3%;
}

.nav-box {
  position: absolute;
  top: 22%;
  left: 5%;
  z-index: -2;
  height: 8vh;
  width: 60%;
  border-radius: 20px;
  border: 1px solid black;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  margin: 5vw;
  gap: 5vw;
  align-items: center; /* Center items vertically */
}

.btn-img {
  transform: scale(0.25) translate(-135%, -135%);
}

.btn-img[wobble='1'] {
  animation: wobble 1.2s 1;
}

@keyframes wobble {
  0% {
    transform: scale(0.25) translate(-135%, -135%) rotate(0deg);
  }
  100% {
    transform: scale(0.25) translate(-135%, -135%) rotate(360deg);
  }
}

.nav-login{
  transform: scale(2);
  color: #FA6CB2;
  cursor:pointer;
}

.icon-txt3{
  opacity: 0;
  font-size: 0.6em;
  transition: opacity 0.6s ease-in-out;
}

.nav-login:hover .icon-txt3{
  opacity: 1;
}


/* news css ----------------------------------------------*/
.newsbg{
  height: 100vw;
  background-color: #fff;
  color: black;
  display:grid;
}

.newsbg .book {
    transition: opacity 0.4s 0.2s;
  }

.newsbg .title{
  text-align: center;
  font-family: 'League Gothic', sans-serif;
  font-size: 12vw;
}

.newsbg.page {
  width: 40vw;
  height: 50vw;
  float: left;
  margin-bottom: 0.5em;
  background: top no-repeat;
  background-size: cover;
}
.newsbg .page:nth-child(even) {
  clear: both;
}
.newsbg .book {
  perspective: 250vw;
  transform: translate(10%,-20%);
}
.newsbg .book .pages {
  width: 80vw;
  height: 50vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
}
.newsbg .book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 40vw;
  height: 50vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
}
.newsbg .book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0.7s;
  z-index: 2;
}
.newsbg .book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
}
.newsbg .book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}
.newsbg .book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.newsbg .book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.newsbg .book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
}
.newsbg .book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.newsbg .book .page.grabbing {
  transition: none;
}
.newsbg .book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.newsbg .book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.newsbg .book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}
.newsbg.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}
.newsbg .book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.newsbg .book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
.newsbg *,
.newsbg * :before,
.newsbg *:after {
  box-sizing: border-box;
}
.newsbg.page:nth-child(odd){
  background-position: right top;
}
.newsbg.page:nth-child(odd){
  background-position: right top;
}


/* newsitem css */

.news-item-box{
  display: grid;
  margin-right: 10%;
}